<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> </link>
    <title>S.I Guido</title>  
   <link rel="stylesheet" type="text/css" href="style.css"></link>
          
  </head>
  
  <body>
  
	<nav class="navbar navbar-dark bg-dark">
  		<h1 class="navbar-brand" href="#">Sistema de Ingresos</h1>
	</nav>
   	
   	  <!-- El "agregarProducto" hace referencia al HTML -->
   	<br/>
		<a th:href ="agregarProducto" class="btn btn-block btn-primary btn-lg active" role="button" aria-pressed="true">Agregar Producto</a>	
	<br/>
   		
		<a th:href ="verProductos" class="btn btn-block btn-primary btn-lg active" role="button" aria-pressed="true">Ver Productos</a>	
   	
  </body>
  

</html>